body{
    background-color: lightblue;
}

button{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border-color: none;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
}

button:active{
    transform: scale(0.97);
}

#nameInput{
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}