body {
  background: #2d2d2d;
  color: white;
  font-family: system-ui;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.app {
  width: 300px;
}

input {
  width: 100%;
  height: 25px;
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 16px;
  border: none;
  border-radius: 10px;
}

#list div, #list p {
  padding: 8px 0;
  border-bottom: 1px solid #444;
}

button {
  width: 70px;
  height: 35px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  margin-bottom: 16px;
  cursor: pointer;
}

button:active{
    transform: scale(0.97);
}